body{text-align: center;}


h1 {text-align:center;color:rgb(255, 0, 0);
text-decoration-line:unset;
font-family:cursive;
font-size:45px;}

p {text-align:center;font-size:27px;}
p{color: rgb(0, 0, 0);}




